@import url('https://fonts.googleapis.com/css?family=Inconsolata');

/*
rgb(223, 142, 48)

rgb(35, 62, 76)

rgb(87, 39, 65)

 */

*{
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
	background-color: rgb(240, 240, 240);
}

body {
	margin: 5%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.1;
	color: #313131;
	font-family: 'Inconsolata', monospace;
	line-height: 1.8em;

}
h1{
	color: rgb(35, 62, 76);
	padding-top: 2em;
	width: auto;
	text-align: center;
}

h3 {
	color: rgb(87, 39, 65);
	text-decoration: underline;
}
p{
	padding-left: 2em;
}

body {
	display: grid;
	min-height: 100%;
	grid-template-rows: 1fr auto;
}

header {
	text-align: center;
	font-weight: bold;
	font-size: 2.5rem;
	color: rgb(223, 142, 48);
	background-color: rgb(35, 62, 76);
	padding: 1.1em;
	width: auto;
}

main {
	padding: 1rem;
}

footer {
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 1rem;
	margin-top: 2em;

}

@media (max-width: 600px) {
	header{
		width: 60%;
		margin: 0 auto;
		font-size: 1.2rem;
	}
	h1{
		font-size: 1.2em;
	}
}
